.per_item_area {
     border: solid 1px #BBB;
     margin-top: 1em;
     padding: 5px;
 }

.per_order_area {
    border: solid 1px #BBB;
    margin-top: 1em;
    padding: 5px;
}

.per_order_sqr {
    list-style-type: square;
}
.per_order_area {
    border: solid 1px #BBB;
    margin-top: 1em;
    padding: 5px;
}

.per_order_list {
    margin-left: -20px;
    padding-bottom:4px;
    font-weight:500
}